/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 29, 2020, 1:26:16 PM
    Author     : yahya
*/
.button{
    -fx-background-color: #ff7f50; 
   -fx-border-radius: 20px;
   -fx-background-radius: 20;
   -fx-padding: 5;
   -fx-background-color:dimgray

}
.button:hover{
  -fx-background-color:darkslategrey   
}
.root {
    -fx-background-image: url("https://i.pinimg.com/564x/4c/2a/3d/4c2a3da80a29587bb695aedd8ebedfca.jpg");
}

.Label{
   -fx-font-family: cursive;
   -fx-font-size: 14pt;
   -fx-font-style: italic;
   -fx-font-weight: bold;
   -fx-border-style: dotted;

}
